host: irc.twitch.tv:6667 # IRC server to connect to.
nickname: hibot          # IRC user name.
password: XXX            # IRC password (if needed).
greet_timeout:   3600    # Timeout in seconds until the same user gets greeted again.
greet_delay:        2    # Delay in seconds between user says hi and bot greets them.
                         # If other users said hi in the meantime they will be all
                         # greeted at once in a single message.
greet_delay_random: 1
channels:                # Channels to join.
    - bloody_albatross
nickalias:               # Alternative names to listen for.
    - albert             # The bot will always listen for the nickname (with and
    - ross               # without an @ before the nickname).
    - albert ross        # The bot will also always answer to general greetings
    - bloody             # like: "Hi!", "Hi chat!", "Hi @user and everyone else!"
    - albatross
    - bloody albatross
    - alb
    - alba
    - tross
    - panzi
    - Mathias
    - Mathias Panzenböck
proxyusers:              # There are bots that cross-post messages from somewhere
    - ytchat             # else (e.g. from YouTube chat). They post messages in
                         # the form of: "other_user_name: message..."
